.logo-img{
    height: 30px;
    width: 30px;
}
#nav{
    margin-left: 600px;
}
.log{
    margin-top: 50px;
}
.text-color{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
#login-icon{
    margin-left: 20px;
    
}
#nav{
    font-size: 20px;
    color: white;
}
