.contact_img{
    height: 450px;
    width: 380px;
}
#container{
    margin-top: 50px;
}
.inverted_comma_icon{
   margin-left: 300px;
   margin-top: 20px;
   font-size: 30px;
    
}
#card{
    height: 450px;
    width: 380px;
    background-color:#d0caca;
}
.paragraph{
    height: 30px;
    width: 380px;
    margin-left: 155px;
}
.font{
    font-size: 15px;
}
.text_align{
    margin-top: 200px;
    margin-left: 250px;
    color: dimgray;
    font-size: 19px;
}
.text_align1{
    color: dimgray;
    margin-left: 170px;
    font-size: 19px;
}
.text{
    margin-left: 210px;
    font-size: 30px;
}
.text1{
    margin-left: 270px;
    font-size: 30px;
}